#about {
  background: url("../images/about-bg.jpg");
  height: 100vh;
}

.contact-item > * {
  margin-left: 1rem;
  text-decoration: none;
  color: wheat;
}

.contact-item > svg {
  color: white;
}

.icon {
  width: 2.5em;
  height: 2.5em;
}

.contact-item {
  margin-bottom: 1rem;
  width: fit-content
}

#img-profile {
  height: 30vh;
  border-radius: 50%;
}