#skills {
  background: url('../images/skills-bg.jpg');
  background-position: 30% 30%;
}

.programming-lang {
  display: flex;
  align-items: center;
}

.programming-icon > * {
  width: 50px;
  height: 50px;
}

.programming-icon {
  margin-right: 1rem;
}

#skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 60px;
  width: 80vw;
}

#programming-skill {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(30, 30, 30, .6);
  backdrop-filter: blur(10px);
  color: white;
  overflow: auto;
}

.icon-langs {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#graph-container {
  display: flex;
  align-items: center ;
  justify-content: center;
  background-color: whitesmoke;
}

div > canvas {
  width: 25vw;
  height: 25vw;
}


@media (max-width: 1300px) {
  #skills-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  #skills {
    background-size: cover;
    background-position: 40% 20%;
  }


  .icon-langs {
    grid-template-columns: 1fr;
  }
  
  #programming-skill {
    height: 50vh;
    overflow: auto;
  }

  #graph-container {
    height: fit-content;
  }

  #skills-container {
    overflow: auto;
  }

  div > canvas {
    width: 60vw;
    height: 60vw;
  }
  
}